@tailwind base;

@font-face {
  font-family: 'Avenir';
  font-weight: 800;
  font-style: normal;
  font-display: swap;
  src: url('https://d2ez0ydy7hy5tw.cloudfront.net/avenir/heavy/font.woff2') format('woff2'), url('https://d2ez0ydy7hy5tw.cloudfront.net/avenir/heavy/font.woff') format('woff');
}

@font-face {
  font-family: 'Avenir';
  font-weight: 600;
  font-style: normal;
  font-display: swap;
  src: url('https://d2ez0ydy7hy5tw.cloudfront.net/avenir/medium/font.woff2') format('woff2'), url('https://d2ez0ydy7hy5tw.cloudfront.net/avenir/medium/font.woff') format('woff');
}

@font-face {
  font-family: 'Avenir';
  font-weight: 300;
  font-style: normal;
  font-display: swap;
  src: url('https://d2ez0ydy7hy5tw.cloudfront.net/avenir/book/font.woff2') format('woff2'), url('https://d2ez0ydy7hy5tw.cloudfront.net/avenir/book/font.woff') format('woff');
}

@font-face {
  font-family: 'Financier Display';
  src: url('https://d2ez0ydy7hy5tw.cloudfront.net/financier-display/bold/font.eot');
  src: url('https://d2ez0ydy7hy5tw.cloudfront.net/financier-display/bold/font.eot?#iefix') format('embedded-opentype'),
  url('https://d2ez0ydy7hy5tw.cloudfront.net/financier-display/bold/font.woff2') format('woff2'),
  url('https://d2ez0ydy7hy5tw.cloudfront.net/financier-display/bold/font.woff') format('woff');
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Financier Display';
  src: url('https://d2ez0ydy7hy5tw.cloudfront.net/financier-display/semibold/font.eot');
  src: url('https://d2ez0ydy7hy5tw.cloudfront.net/financier-display/semibold/font.eot?#iefix') format('embedded-opentype'),
  url('https://d2ez0ydy7hy5tw.cloudfront.net/financier-display/semibold/font.woff2') format('woff2'),
  url('https://d2ez0ydy7hy5tw.cloudfront.net/financier-display/semibold/font.woff') format('woff');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@tailwind components;
@tailwind utilities;

body {
  @apply .min-h-screen .bg-gray-100 .text-indigo-500 .antialiased .font-sans .font-normal;
}
